.loader {
  width: 100%;
  height: 100%;
  background-color: #252627;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.cup {
  display: flex;
  height: 140px;
  width: 200px;
  border: 6px solid #252627;
  position: inline-block;
  margin: 0 auto;
  margin-top: 40vh;
  border-radius: 0px 0px 70px 70px;
  background: url('../img/coffee-blue.png');
  box-shadow: 0px 0px 0px 6px white;
  background-repeat: repeat-x;
  background-position: 0px 140px;
  animation: fill 2.5s infinite;
}

@keyframes fill {
  0% {
    background-position: 0px 140px;
  }

  20% {
    background-position: -450px 100px;
  }

  40% {
    background-position: -900px 50px;
  }

  80% {
    background-position: -1350px -40px;
  }

  100% {
    background-position: 0px 140px;
  }
}

.cup h1 {
  text-align: center;
}
