/* if the viewport is equal to 340px or less than that */
@media only screen and (max-width: 340px) {
  .header_area .main-menu .navbar,
  .header_area .main-menu .navbar .navbar-brand,
  .site-main .subscribe-us-area .subscribe .subscribe-title,
  .site-main .subscribe-us-area .subscribe .subscribe-title p,
  h4,
  .site-main .languages-area,
  .site-main .subscribe-us-area .subscribe {
    padding: 2%;
    margin: 0%;
  }

  .site-main .site-banner .site-title h1 {
    font-size: 41px;
  }

  .site-main .subscribe-us-area .subscribe form .input-textbox input {
    width: 15rem !important;
  }

  .site-main > .languages-area .languages {
    width: 13rem;
  }
}

/* if the viewport is equal to 340px or less than that */
@media only screen and (max-width: 792px) {
  .site-main .about-area .about-title h2 > span {
    font-size: 31px;
    letter-spacing: 10px;
  }

  .site-main .brand-area .experience-area .years-area {
    padding-left: 1%;
    width: 49%;
  }

  .site-main .brand-area .experience-area .bg-panel {
    margin-left: 30%;
    width: 80%;
  }

  .site-main .brand-area .experience-area .call-area {
    padding-left: 3%;
  }

  .site-main .project-area .button-group button {
    font: normal 500 18px/40px var(--roboto);
  }

  .site-main .about-area .about-title p {
    padding: 0%;
  }

  .site-main .subscribe-us-area .subscribe form .input-textbox input {
    width: 20rem;
    margin: 5%;
  }
}

/* if the viewport is equal to 1910px or less than that */
@media only screen and (max-width: 1910px) {
  .header_area .main-menu .navbar {
    padding: 1rem;
  }

  .container {
    max-width: 90%;
  }

  .site-main .brand-area,
  .site-main .languages-area .languages-title,
  .site-main .about-area {
    padding: 3% 4%;
  }
}

/** Show overlay on smaller screens only, otherwise hover to show **/
@media (min-width: 768px) {
  .descriptionOverlay {
    opacity: 0%;
  }

  .item:hover .descriptionOverlay {
    opacity: 100%;
  }
  .col-lg-4 {
    width: 28.75% !important;
  }
}

@media (max-width: 767px) {
  .site-main .site-banner .banner-image > img {
    padding: 0;
    padding-top: 16rem;
  }
}

/** For screens 991px width and under have different spacing between elements **/
@media (max-width: 991px) {
  .video-slider {
    margin-top: 50px !important;
  }

  .site-main .project-area {
    padding-top: 5rem;
  }
  .site-main .about-area {
    padding-top: 0rem;
  }
}

/** Fix buttons on home section for screens <485px **/
@media (max-width: 765px) {
}

/** Fix centering of skills and language tiles on smaller screens**/
@media (max-width: 440px) {
  .skills-area .container,
  .languages-area .container {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/** Fix overlapping divs **/
@media (min-width: 991px) and (max-width: 1384px) {
  .site-main > .languages-area .languages {
    width: 11rem;
  }
  .site-main > .skills-area .skills {
    width: 11rem;
  }
}
