body {
  font-size: 14px;
  color: white;
  background-color: #252627;
  letter-spacing: 1px;
}

html,
body {
  overflow-x: hidden;
}

@media (max-width: 850px) {
  .navbar-nav {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 0.5rem;
    width: 10rem;
  }
}
.social {
  display: inline-block;
  position: relative;
  top: 10px;
  text-align: center;
  width: 100%;
}

.icon {
  font-size: 5rem;
  margin-top: 2rem;
}

#portfolio {
  overflow: hidden;
}

.socialLinks {
  font-size: 40px;
  padding: 20px;
  color: white;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #252627;
  padding-top: 0px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../img/slide1.png');

  width: 0%;
  border-radius: 20px 20px;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #f1f1f1;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
  z-index: 11;
  top: 0;
  height: 100%;
  padding: 10px;
}

.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.slides-navigation a.next {
  top: 300px;
  right: 20px;
  background-image: url(../img/icons/next.png);
}

.slides-navigation a.prev {
  left: 20px;
  top: 300px;
  transform: scaleX(-1);
  background-image: url(../img/icons/next.png);
}

.slides-navigation a:hover {
  opacity: 1;
}
.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 50px;
  text-decoration: none;
  position: relative;
}

.titleMessage .heading .main:after {
  content: '';

  width: 15%;
  position: absolute;
  left: 42%;
  color: white;
  bottom: 1px;
  top: 1px;

  border-width: 1px 0 1px;
  border-style: solid;
}

.titleMessage .heading .sub {
  font-size: 23px;
}

.section {
  padding: 80px;
}
.statsSection {
  padding: 40px 0px 80px;
}

.portfolioSection {
  padding: 40px 0px 80px;
}
.aboutImg {
  max-width: 100%;
  border-radius: 1%;
}

.intro {
  padding-top: 10px;
}

.skillsSection,
.contactSection {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../img/slide1.png');
  color: white;
}

.myName {
  float: left;
}

.dots {
  color: white;
  margin-left: 5px;
  float: left;
}

.skill {
  text-align: center;
  margin-left: 10px;
}

.squareItem {
  margin-top: 30px;
  position: relative;
  padding: 50px;
}

.squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #444;
  border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
  content: '';
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #444;
}

.squareInnerContainer:before {
  right: 0px;
}

.squareInnerContainer:after {
  left: 0px;
}

.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: white;
}

.squareContent h3 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: white;
}

#stats h2 {
  text-align: center;
}

.contactButton {
  color: white;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 2px;
  opacity: 1;
  background-color: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url('../img/slide1.png');
  -webkit-transition: all 0.2s linear, 0.8s;
  -moz-transition: all 0.2s linear, 0.8s;
  -ms-transition: all 0.2s linear, 0.8s;
  -transition: all 0.2s linear, 0.8s;
}

.contactButton:hover {
  text-decoration: none;
  color: #1f6490;
  background-color: white;
  opacity: 1;
}

.filter a {
  color: white;
  border: 1px solid white;
  padding: 10px 18px;
  display: block;
}

.filter li {
  display: inline-block;
  padding: 5px;
}

.filter a:hover {
  text-decoration: none;
}

.filter .current {
  color: #252627;
  background: white;
  border: 1px solid white;
  -webkit-transition: all 0.2s linear, 0.8s;
  -moz-transition: all 0.2s linear, 0.8s;
  -ms-transition: all 0.2s linear, 0.8s;
  -transition: all 0.2s linear, 0.8s;
}

.filter {
  text-align: center;
  width: 100%;
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.heading h2 {
  margin: 0;
}

.portfolioSection .heading {
  text-align: center;
  padding-bottom: 30px;
  width: 100%;
}

.items li {
  display: inline-block;
  padding: 5px;
}

.itemsContainer {
  width: 100%;
}

.items li img {
  width: 100%;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}

.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.items .icons i {
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}

.items a {
  width: 40px;
  height: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../img/slide1.png');

  position: relative;
  display: inline-block;

  -webkit-transition: all 0.2s linear, 0.2s;
  -moz-transition: all 0.2s linear, 0.2s;
  -o-transition: all 0.2s linear, 0.2s;
  -ms-transition: all 0.2s linear, 0.2s;
  -transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;

  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
  opacity: 1;
}

.items .openButton {
  float: left;
  left: -300px;
}

.items .projectLink {
  float: right;
  right: -300px;
}
.items .codeLink {
  float: right;
  right: -300px;
}

.items .item:hover .openButton {
  left: 0px;
}

.items .item:hover .projectLink {
  right: 0px;
}
.items .item:hover .codeLink {
  right: 25px;
  top: 10px;
}

.items .item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -transform: scale(1.05, 1.05);
}

.items {
  padding: 0;
}

.copyrightSection {
  background-color: black;
  color: white;
  padding: 30px 5px;
}

.copyrightSection p {
  text-align: center;
  margin: 0;
}

#navigation {
  position: fixed;
  padding: 20px 10px;
  z-index: 100;
  height: 50px;
  width: 100%;

  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
@media (min-width: 1025px) {
  .navColor {
    background-color: black;
  }
}

#navigation li {
  padding: 0 7.8px;
}

@media screen and (max-width: 500px) {
  #navigation li {
    padding: 0 2.8px;
  }
}

@media screen and (max-width: 768px) {
  #navigation li {
    padding: 0 5.8px;
  }
}

#navigation li a {
  color: white;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: white;
  text-decoration: underline;
}

.navbar-toggler-icon {
  background: url(../img/icons/menu.png);
  background-size: 100%;
}

.thumbnail {
  height: 65%;
  width: 65%;
}
/*Scrollbar*/

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(32, 29, 29);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;

  background: white;

  /*background: linear-gradient(90deg, rgba(189,155,21,1) 0%, rgba(129,15,34,1) 71%);*/
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#particles-js {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.5;
  padding: 0;
}

/*ribbon*/
.corner-ribbon {
  width: 220px;

  position: absolute;

  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: white;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.corner-ribbon.top-right {
  top: 70px;
  right: -12px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index: 4;
  border-radius: 50%;
}

.corner-ribbon.grey {
  background: #252627;
}

/*Scroll down*/

section {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  opacity: 0.5;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.demo a:hover {
  opacity: 1;
}

#downArrow a {
  padding-top: 60px;
}
#downArrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#downArrow a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#downArrow a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#upArrow a {
  padding-bottom: 40px;
}
#upArrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#upArrow a span::after {
  position: absolute;
  top: 65%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-225deg);
  box-sizing: border-box;
}

#upArrow a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
