/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* start navigation */

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 2rem;
  font-family: var(--font_name);
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
  font-size: 1.05rem;
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--title-color);
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.navbar-brand {
  color: var(--title-color) !important;
  font-size: 1.8rem;
}

#main_menu {
  background: var(--background-color);
}

/* end navigation */

/* Banner Area */

.site-main .site-banner {
  padding-top: 100px;
}

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

.banner-image {
  margin-top: -30px;
}

.customButton {
  background: white;
  background-clip: padding-box;
  color: var(--primary-color);
  transition: background 0.6s ease;
  padding: 0.8rem 2.2rem;
  margin-right: 2rem;
  font: normal 500 16px/20px var(--font);
  position: relative;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  text-transform: uppercase;
}

.customButton:hover {
  background: var(--primary-color);
  color: white;
}

.customButtonPrimary {
  background: var(--primary-color);
  background-clip: padding-box;
  color: white;
  transition: background 0.6s ease;
  padding: 0.8rem 2.2rem;
  margin-right: 2rem;
  font: normal 500 16px/20px var(--font);
  position: relative;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  text-transform: uppercase;
}

.customButtonPrimary:hover {
  background: white;
  color: var(--primary-color);
}

/* End Banner Area */

/* Start About Area */

.site-main .about-area {
  padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  /* font: normal bold 49px/ 60px var(--font); */
  letter-spacing: 10px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
}

#downloadResumeButton a {
  color: white;
}

#downloadResumeButton:hover a {
  color: var(--primary-color);
}

/* End About Area */

/* languages Area */

.site-main .languages-area {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
}

.site-main .languages-area .languages-title {
  padding: 0 14rem;
}

.site-main .languages-area .languages-title h1 {
  font-size: 35px;
}
.languages-title {
  padding: 0 !important;
}

.site-main > .languages-area .languages {
  background: var(--box-color);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem 0.5rem;
  transition: box-shadow 0.7s ease;
}

.site-main > .languages-area .languages:hover {
  box-shadow: var(--box-shadow);
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.textSecondary {
  color: var(--text-secondary);
}
/* End languages Area */

/* Skills area */

.site-main .skills-area {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
}

.site-main .skills-area .skills-title {
  padding: 0 14rem;
}

.site-main .skills-area .skills-title h1 {
  font-size: 35px;
}
.skills-title {
  padding: 0 !important;
}

.site-main > .skills-area .skills {
  background: var(--box-color);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem 0.5rem;
  transition: box-shadow 0.7s ease;
}

.site-main > .skills-area .skills:hover {
  box-shadow: var(--box-shadow);
}

/* End skills area */

/* Project Area */

.site-main .project-area {
  padding: 4rem 0;
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  /* font: normal 500 16px/130px var(--font); */
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4 {
  /* font: normal 700 25px/12px var(--font); */
}

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

.items li {
  display: inline-block;
  padding: 20px;
}

.items {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.items li img {
  width: 100%;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  transition: all 0.2s linear, 1s;
}
.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}
.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}
.items .icons i {
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}
.items a {
  width: 40px;
  height: 40px;
  background: var(--primary-color);
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.2s linear, 0.2s;
  -moz-transition: all 0.2s linear, 0.2s;
  -o-transition: all 0.2s linear, 0.2s;
  -ms-transition: all 0.2s linear, 0.2s;
  transition: all 0.2s linear, 0.2s;
}
.items .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 80px;
  opacity: 0;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  transition: all 0.2s linear, 1s;
}
.items .item:hover .imageOverlay {
  opacity: 1;
}
.items .openButton {
  float: left;
  left: -300px;
}
.items .projectLink {
  float: right;
  right: -300px;
}
.items .codeLink {
  float: right;
  right: -300px;
}

.items .item:hover .projectLink {
  right: 0;
}
.items .item:hover .codeLink {
  right: 25px;
}
.items .item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.items {
  padding: 0;
}
.descriptionOverlay {
  display: flex;
  position: absolute;
  background: rgba(37, 38, 39, 0.9);
  color: white;
  bottom: 0;
  margin: 0 0 0 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  height: 80px;
  width: 100%;
  transition: all 0.2s linear, 0.5s;
}

/* End Project Area */

/* About Me */

.site-main .about-area .about-title p {
  padding: 1rem 7rem;
}

.site-main .about-area .client {
  background: #ffffff10;
  box-shadow: var(--box-shadow);
  margin: 3rem 0rem;
}

.site-main .about-area .client .client-img {
  padding: 2rem;
}

.site-main .about-area .client .about-client {
  padding-top: 2rem;
}

.site-main .about-area .client .about-client p {
  font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span {
  background: var(--primary-color);
  width: 12px;
  height: 12px;
}

/* End About Me */

/* Footer Area */

footer.footer-area {
  padding: 1rem 0;
  background: var(--primary-color);
  color: white;
}

footer.footer-area .social a > i {
  font-size: 30px;
  margin: 2rem;
  color: white;
}

footer.footer-area .social a > i {
  transition: all 0.2s ease-in-out;
}
footer.footer-area .social a:hover > i {
  transform: scale(1.3);
}
.copyright {
  color: white !important;
}

#name {
  font-family: var(--font_name);
}
#name:hover {
  text-decoration: none;
}
/* End Footer */

/** Scroll up persistent button */
html {
  scroll-behavior: smooth;
}

.gotopbtn {
  position: fixed;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  z-index: 99999;
}

.gotopbtn:hover {
  color: white;
}

/** Dark Theme Toggle **/
div.checkbox.switcher label,
div.radio.switcher label {
  padding: 0;
  padding-top: 30px;
}
div.checkbox.switcher label *,
div.radio.switcher label * {
  vertical-align: middle;
}
div.checkbox.switcher label input,
div.radio.switcher label input {
  display: none;
}
div.checkbox.switcher label input + span,
div.radio.switcher label input + span {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
  background: #f2f2f2;
  border: 1px solid #eee;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
div.checkbox.switcher label input + span small,
div.radio.switcher label input + span small {
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  left: 0;
}
div.checkbox.switcher label input:checked + span,
div.radio.switcher label input:checked + span {
  background: var(--primary-color);
  border-color: var(--primary-color);
}
div.checkbox.switcher label input:checked + span small,
div.radio.switcher label input:checked + span small {
  left: 50%;
}

.darkModeText {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
}

.switcher {
  text-align: center;
}

.leftNav {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
}
