body {
  font-size: 14px;
  color: #fff;
  background-color: #252627;
  letter-spacing: 1px;
}
body,
html {
  overflow-x: hidden;
  overflow-y: hidden;
}
@media (max-width: 767px) {
  .navbar-nav {
    text-align: center;
    background-color: #252627;
    margin-top: 0.5rem;
  }
}
.social {
  display: inline-block;
  position: relative;
  top: 10px;
  text-align: center;
  width: 100%;
}
.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: 5rem;
  margin-top: 2rem;
}
#portfolio {
  overflow: hidden;
}
.videos {
  margin-top: -5.5em;
}
.socialLinks {
  font-size: 40px;
  padding: 20px;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.socialLinks:hover {
  transform: scale(1.1);
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}
.slides-navigation {
  z-index: 11;
  top: 0;
  height: 100%;
  padding: 10px;
}
.slides-navigation .next,
.slides-navigation .prev {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.slides-navigation a.next {
  position: absolute;
  right: 2%;
  top: 50%;
  background-image: url(../img/icons/next.png);
}
.slides-navigation a.prev {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: scaleX(-1.05);
  background-image: url(../img/icons/next.png);
}
.slides-navigation a.prev:hover {
  opacity: 1;
  transform: scale(-1.08);
}
.slides-navigation a.next:hover {
  opacity: 1;
  transform: scale(1.08);
}
.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}
.titleMessage .heading p {
  color: #fff;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}
.titleMessage .heading .main {
  font-size: 50px;
  text-decoration: none;
  position: relative;
}
.titleMessage .heading .main:after {
  content: '';
  width: 15%;
  position: absolute;
  left: 42%;
  color: #fff;
  bottom: 1px;
  top: 1px;
  border-width: 2px 0 2px;
  border-style: solid;
}
.titleMessage .heading .sub {
  font-size: 23px;
}
.section {
  padding: 80px;
}
.statsSection {
  padding: 80px 0 80px;
}
.portfolioSection {
  padding: 40px 0 60px;
}

.intro {
  padding-top: 10px;
}
.contactSection,
.skillsSection {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/slide7.png);
  color: #fff;
}
.videoContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 80px;
}
.videoRow {
  margin-left: auto;
  margin-right: auto;
}
.videos {
  padding-bottom: 35px;
}
.myName {
  position: absolute;
}
.dots {
  color: #fff;
  margin-left: 5px;
  float: left;
}
.skill {
  text-align: center;
  margin-left: 10px;
}
.squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #444;
  border-top: none;
}
.squareInnerContainer:after,
.squareInnerContainer:before {
  content: '';
  position: absolute;
  top: 0;
  width: 30%;
  border-bottom: 2px solid #444;
}
.squareInnerContainer:before {
  right: 0;
}
.squareInnerContainer:after {
  left: 0;
}
.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #fff;
}
.squareContent h3 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}
.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: #fff;
}
#stats h2 {
  text-align: center;
}
.contactButton {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
  opacity: 1;
  background-color: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../img/slide1.png);
  -webkit-transition: all 0.2s linear, 0.8s;
  -moz-transition: all 0.2s linear, 0.8s;
  -ms-transition: all 0.2s linear, 0.8s;
  transition: all 0.2s linear, 0.8s;
  -webkit-filter: blur(0);
  filter: blur(0);
}
.contactButton:hover {
  text-decoration: none;
  color: #1f6490;
  background-color: #fff;
  opacity: 1;
}
.filter a {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 18px;
  display: block;
}
.filter li {
  display: inline-block;
  padding: 5px;
}
.filter a:hover {
  text-decoration: none;
}
.filter .current {
  color: #252627;
  background: #fff;
  border: 1px solid #fff;
  -webkit-transition: all 0.2s linear, 0.8s;
  -moz-transition: all 0.2s linear, 0.8s;
  -ms-transition: all 0.2s linear, 0.8s;
  transition: all 0.2s linear, 0.8s;
}
.filter {
  text-align: center;
  margin-right: 38px;
  width: 100%;
}
.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}
.heading h2 {
  margin: 0;
}
.portfolioSection .heading {
  text-align: center;
  padding-bottom: 45px;
  width: 100%;
}
.items li {
  display: inline-block;
  padding: 5px;
}
.itemsContainer {
  width: 100%;
}
.items li img {
  width: 100%;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  transition: all 0.2s linear, 1s;
}
.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}
.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}
.items .icons i {
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}
.items a {
  width: 40px;
  height: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/slide1.png);
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.2s linear, 0.2s;
  -moz-transition: all 0.2s linear, 0.2s;
  -o-transition: all 0.2s linear, 0.2s;
  -ms-transition: all 0.2s linear, 0.2s;
  transition: all 0.2s linear, 0.2s;
}
.items .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 80px;
  opacity: 0;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  transition: all 0.2s linear, 1s;
}
.items .item:hover .imageOverlay {
  opacity: 1;
}
.items .openButton {
  float: left;
  left: -300px;
}
.items .projectLink {
  float: right;
  right: -300px;
}
.items .codeLink {
  float: right;
  right: -300px;
}

.items .item:hover .projectLink {
  right: 0;
}
.items .item:hover .codeLink {
  right: 25px;
}
.items .item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.items {
  padding: 0;
}
.descriptionOverlay {
  display: flex;
  position: absolute;
  background: rgba(37, 38, 39, 0.9);
  color: white;
  bottom: 0;
  margin: 0 0 0 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  height: 80px;
  width: 100%;
  transition: all 0.2s linear, 0.5s;
}

.copyrightSection {
  background-color: #000;
  color: #fff;
  padding: 30px 5px;
}
.copyrightSection p {
  text-align: center;
  margin: 0;
}
#navigation {
  position: fixed;
  padding: 20px 10px;
  z-index: 100;
  height: 50px;
  width: 100%;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
@media (min-width: 768px) {
  #navigation li {
    padding: 0 5.8px;
  }
  #navigation a:hover:after {
    width: 100%;
    left: 0;
  }
  .navColor {
    background-color: #222324;
  }
  .aboutSection {
    padding: 85px 80px 0px 80px;
  }
  .navbar-expand-md .navbar-nav {
    align-items: center;
  }
  .descriptionOverlay {
    opacity: 0%;
  }

  .item:hover .descriptionOverlay {
    opacity: 100%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .squareInnerContainer {
    height: 210px;
  }
}
#navigation li {
  display: table-cell;
  position: relative;
  padding: 0 7.8px;
}
@media (max-width: 768px) {
  #navigation li {
    padding: 0 2.8px;
  }
  #navigation a:hover:after {
    width: 100%;
    left: 0;
  }
  .aboutSection {
    padding: 80px 80px 0px 80px;
  }
  .aboutContainer {
    padding-bottom: 40px;
  }
  .videoContainer {
    margin-top: 20px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  #navigation li {
    padding: 0 5.8px;
  }
  #navigation a:hover:after {
    width: 100%;
    left: 0;
  }
  .aboutSection {
    padding: 80px 80px 0px 80px;
  }
}
#navigation li a {
  color: #fff;
}
.navbar-brand {
  color: #fff;
  display: table-cell;
  position: relative;
  padding: 5px 10px;
}
.navbar-brand:hover {
  color: #fff;
  text-decoration: none;
}
#navigation a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-toggler-icon {
  background: url(../img/icons/menu.png);
  background-size: 100%;
}
.thumbnail {
  height: 65%;
  width: 65%;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #201d1d;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
#particles-js {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.5;
  padding: 0;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  opacity: 0.5;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.demo a:hover {
  opacity: 1;
}
#downArrow a {
  padding-top: 68px;
}
#downArrow:hover {
  transform: scale(1.05) translateY(2px);
}
#downArrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 2px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#downArrow a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#downArrow a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#upArrow a {
  padding-bottom: 28px;
}
#upArrow:hover {
  transform: scale(1.05) translateY(2px);
}
#upArrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 2px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#upArrow a span::after {
  position: absolute;
  top: 65%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-225deg);
  box-sizing: border-box;
}
#upArrow a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
.card {
  width: 600px;
  height: 200px;
}
.card-body {
  position: relative;
  overflow: hidden;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
