/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* start navigation */

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
  /* font: normal 500 15px/2px var(--font); */
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
  font-size: 1.05rem;
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.navbar-brand {
  /* font: normal 500 15px/2px var(--font); */
  font-size: 1.8rem;
}

/* end navigation */

/* Banner Area */

.site-main .site-banner {
  background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}
#resumeButton a {
  color: var(--primary-color);
}

#resumeButton:hover a {
  color: white;
}

.banner-image {
  margin-top: -30px;
}

#projectsButton a {
  color: white;
}
#projectsButton:hover a {
  color: var(--primary-color);
}
/* End Banner Area */

/* Start About Area */

.site-main .about-area {
  padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  /* font: normal bold 49px/ 60px var(--font); */
  letter-spacing: 10px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
}

#downloadResumeButton a {
  color: white;
}

#downloadResumeButton:hover a {
  color: var(--primary-color);
}

/* End About Area */

/* Start Brand Area */

.site-main .brand-area {
  padding: 1rem 20rem;
  margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 1.8rem 0rem;
  margin: 0.9rem 0;
  width: 180px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img {
  width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img {
  filter: brightness(0.15);
}

.site-main .brand-area .experience-area {
  padding-left: 1rem;
}

.site-main .brand-area .experience-area span {
  display: block;
}

.site-main .brand-area .experience-area .years-area {
  background: url(../img/client-info-bg.png) no-repeat 45px 20px;
  padding: 2rem 0;
  width: 40rem;
  height: 18rem;
  padding-left: 8rem;
  position: relative;
}

.site-main .brand-area .experience-area .bg-panel {
  position: absolute;
  left: -190px;
  top: 0%;
  background: #e029290a;
  width: 400px;
  height: 400px;
  margin-left: 340px;
  z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years {
  /* font: normal bold 84px/40px var(--font); */
  color: var(--primary-color2);
  z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span {
  /* font: normal 600 22px/30px var(--font); */
}

.site-main .brand-area .experience-area .call-area {
  padding-left: 10rem;
}

/* End Brand Area */

/* languages Area */

.site-main .languages-area {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
}

.site-main .languages-area .languages-title {
  padding: 0 14rem;
}

.site-main .languages-area .languages-title h1 {
  font-size: 35px;
}
.languages-title {
  padding: 0 !important;
}

.site-main > .languages-area .languages {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem 0.5rem;
  transition: box-shadow 0.7s ease;
}

.site-main > .languages-area .languages:hover {
  box-shadow: var(--box-shadow);
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* End languages Area */

/* Skills area */

.site-main .skills-area {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.site-main .skills-area .skills-title {
  padding: 0 14rem;
}

.site-main .skills-area .skills-title h1 {
  font-size: 35px;
}
.skills-title {
  padding: 0 !important;
}

.site-main > .skills-area .skills {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem 0.5rem;
  transition: box-shadow 0.7s ease;
}

.site-main > .skills-area .skills:hover {
  box-shadow: var(--box-shadow);
}
/* End skills area */

/* Project Area */

.site-main .project-area {
  padding: 3rem 0;
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  /* font: normal 500 16px/130px var(--font); */
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4 {
  /* font: normal 700 25px/12px var(--font); */
}

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

.items li {
  display: inline-block;
  padding: 20px;
}

.items {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.items li img {
  width: 100%;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  transition: all 0.2s linear, 1s;
}
.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}
.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}
.items .icons i {
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}
.items a {
  width: 40px;
  height: 40px;
  background: var(--primary-color);
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.2s linear, 0.2s;
  -moz-transition: all 0.2s linear, 0.2s;
  -o-transition: all 0.2s linear, 0.2s;
  -ms-transition: all 0.2s linear, 0.2s;
  transition: all 0.2s linear, 0.2s;
}
.items .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 80px;
  opacity: 0;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  transition: all 0.2s linear, 1s;
}
.items .item:hover .imageOverlay {
  opacity: 1;
}
.items .openButton {
  float: left;
  left: -300px;
}
.items .projectLink {
  float: right;
  right: -300px;
}
.items .codeLink {
  float: right;
  right: -300px;
}

.items .item:hover .projectLink {
  right: 0;
}
.items .item:hover .codeLink {
  right: 25px;
}
.items .item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.items {
  padding: 0;
}
.descriptionOverlay {
  display: flex;
  position: absolute;
  background: rgba(37, 38, 39, 0.9);
  color: white;
  bottom: 0;
  margin: 0 0 0 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  height: 80px;
  width: 100%;
  transition: all 0.2s linear, 0.5s;
}

/* End Project Area */

/* About Me */

.site-main .about-area .about-title p {
  padding: 1rem 7rem;
}

.site-main .about-area .client {
  background: #ffffff10;
  box-shadow: var(--box-shadow);
  margin: 3rem 0rem;
}

.site-main .about-area .client .client-img {
  padding: 2rem;
}

.site-main .about-area .client .about-client {
  padding-top: 2rem;
}

.site-main .about-area .client .about-client h4 {
  /* font: normal 500 21px/ 20px var(--font); */
}

.site-main .about-area .client .about-client p {
  font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span {
  background: var(--primary-color);
  width: 12px;
  height: 12px;
}

/* End About Me */

/* Footer Area */

footer.footer-area {
  padding: 1rem 0;
  background: var(--primary-color);
  color: white;
}

footer.footer-area .social h5 {
  /* font: normal 500 23px/ 30px var(--font); */
}

footer.footer-area .social a > i {
  font-size: 22px;
  padding: 2rem;
  /* color: var(--border-color); */
  color: white;
}

footer.footer-area .social a > i {
  transition: all 0.2s ease-in-out;
}
footer.footer-area .social a:hover > i {
  transform: scale(2);
}
.copyright {
  color: white !important;
}
/* End Footer */

/** Scroll up persistent button */
html {
  scroll-behavior: smooth;
}

.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  z-index: 99999;
  opacity: 0;
}

.gotopbtn:hover {
  color: white;
}
