html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  color: var(--color);
}

/* CSS Variables */
:root {
  --background-color: snow;
  --color: #1e1e1e;
  --primary-color: #2579b1;
  --title-color: #1e1e1e;
  --text-color: #777777;
  --text-secondary: #6c757d;
  --border-color: #777777;
  --box-color: rgba(248, 252, 253, 0.973);
  --gradient-color: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--primary-color) 100%
  );
  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  --nav-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

  /* font family variables. */
  --font: Arial, Helvetica, sans-serif;
  --font_name: 'Lobster', cursive;
}
